.road_wrap {
    margin-top:41%;
}
#road {
    margin-top:32%;
}
#grass {   
    margin-top:25%;
}
#birds_1 { 
    margin-left:0%;
}
#birds_2 {
    margin-left:0%;
}
#mountain_2 {
    margin-left:0%; margin-top:25%;
}
#mountain_1 {
    margin-left:0%; margin-top: 13%;
}
#clouds_1 {
    margin-left:0%;
}
#clouds_2 {
    margin-left:0%;
}
#clouds_3 {
    margin-left:0%;
}
#clouds_4 {
    margin-left:0%;
}