body{ margin:0; padding:0; font-size:1em; font-family:微软雅黑; color:#333; }
.clear { height:0; border:0; padding:0; margin:0; line-height:0; clear:both; }
a { text-decoration:none; }
a:hover { text-decoration:none; }
a:active { text-decoration:none; }
applet { 
    -webkit-transform:scale(0.1); 
    -moz-transform:scale(0.1); 
    -ms-transform:scale(0.1); 
    -o-transform:scale(0.1); 
    transform:scale(0.1); 
}

.loading { 
    width:100%; height:0%; top:0px; left:0px; opacity:0; background:url(../../imgs/loading.gif) center center no-repeat #666; z-index:998;
    transition:all 0.2s linear;
}
#loading { position:fixed; }
.loading.active {
    opacity:0.6;
    height:100%;
}
.active.in_article#loading {
    opacity:0.4;
    position:relative;
    height:200px;
}
.in_article#loading {
    position:relative;
    height:0px;
}

/**### css for show ###**/
#show { 
    display:none; 
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
}
#mainWrap { 
    overflow:hidden; position:absolute; left:0; top:0; z-index:1; opacity:0; width:100%; min-width:480px; 
    transition:opacity 0.2s linear;
}

#show img { position:fixed; }

.show_wrap { 
    height:100%; 
    width:100%; 
    padding-top:12%; 
    background-image: linear-gradient(#5BF, #FFF 40%);
    z-index:1;
    position:fixed;
}

.bicycle_wrap {
    
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
    -webkit-transform: perspective(300px) rotateZ(-8deg);
    -moz-transform: perspective(300px) rotateZ(-8deg);
    -ms-transform: perspective(300px) rotateZ(-8deg);
    -o-transform: perspective(300px) rotateZ(-8deg);
    transform: perspective(300px) rotateZ(-8deg);
    
    position: absolute;
    height: 100%;
    width:100%;
    z-index:2;
    
    display:none\0;
}
.bicycle {
    z-index: 2;
    width: 16.7%;
    position:absolute;
}
.wheel_1 {
    width: 13.25%;
    z-index: 1;
    position:absolute;
    
    -webkit-transform: scale(0.8) rotateY(4deg);
    -moz-transform: scale(0.8) rotateY(4deg);
    -ms-transform: scale(0.8) rotateY(4deg);
    -o-transform: scale(0.8) rotateY(4deg);
    transform: scale(0.8) rotateY(4deg);
}
.wheel_2 {
    width: 13.25%;
    z-index: 1;
    position:absolute;
    
    -webkit-transform: scale(0.7) rotateY(4deg);
    -moz-transform: scale(0.7) rotateY(4deg);
    -ms-transform: scale(0.7) rotateY(4deg);
    -o-transform: scale(0.7) rotateY(4deg);
    transform: scale(0.7) rotateY(4deg);
}

/* end the css for the show. */
/**### css for content ###**/
#copyRight { 
    position:fixed; 
    right:5%; 
    bottom:3%; 
    color:#FFF; 
    z-index:1000; 
    font-size:0.8em; 
    color:transparent;
    color:#e8e8e8\0;
    text-shadow:0px 0px 4px #000;
    max-width: 32%;
    opacity:0;
    
    transition:opacity 0.2s linear, color 0.2s linear;
}
#copyRight:hover { 
    color:#FFF;
    text-shadow:0px 0px 4px #000;
}
#copyRight.active {
    opacity:1;
}
#mainWrap.active { opacity:1; }
#content.active { top:0; opacity:1; }

.content { 
    width:80%; margin:5% auto; text-align:left; top:-16px; position:relative; opacity:0;
    transition:opacity 0.2s linear, top 0.2s linear;
}

.article-wrap { 
    float:left;
    width:64.75%;
    z-index:1;
    position:relative;
}
.article {
    background: #FFF;
    padding: 48px 48px 24px 48px;
    line-height:150%;
    margin-bottom:10%;
    position:relative;
    /*
    box-shadow: 0px 0px 36px #adf;
    */
    box-shadow: 0px 0px 36px #999;
}
.article_action_wrap { 
    position: relative;
    border-top: 1px solid #ccc;
    margin-top: 2%;
    padding-top: 1%;
}
.article_action_wrap .loading { min-height:36px; background-color:#efefef; z-index:1000; display:none; }
.img img, .comment_avatar img { width:100%; margin:12px 0; }

.img { text-align:center; }

.header {    
    width: 100%;
    background: rgba(80,192,255,0.4);
    margin: 0;
    height: 186px;
    box-shadow: 0px 0px 48px #FFF;
    position: relative;
}

/**### css for header ###**/
.header ul { margin:0; padding:0; list-style:none; }
.nav {    
    width: 100%;
    bottom: 0;
    position: absolute;
    
    -webkit-transform-origin:left bottom;
    -moz-transform-origin:left bottom;
    -ms-transform-origin:left bottom;
    -o-transform-origin:left bottom;
    transform-origin:left bottom;
}
.menu-item { 
    float: left;
    height: 90px;
    width: 136px;
    text-align: center;
    position: relative;
    padding-top: 45px;
    margin: 0 1.5%;
    margin-bottom: -49px;
    
    border-radius: 136px;
}
.menu-item a { 
    color: transparent;
    color:#e8e8e8\0;
    text-shadow: 0px 0px 6px #FFF;
    font-size:2em; 
    font-weight:bold; 
    display: inline-block;
    position:relative;
    
    -webkit-box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,1) 160%);
    -moz-box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,1) 160%);
    -ms-box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,1) 160%);
    -o-box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,1) 160%);
    box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,1) 160%);
    
    transition:color 0.2s linear, text-shadow 0.2s linear;
}
.menu-item:before {
    content: "";
    position: absolute;
    width: 132%;
    height: 66%;
    border-radius: 200px 200px 0 0;
    z-index: -4;
    left: -16%;
    top: -2%;
    border-style: dashed;
    border-width:0px;
    border-color:#0FF;
    border-bottom: 0;
    
    -webkit-transform:rotate(90deg);
    -webkit-transform-origin:center bottom;
    
    -moz-transform:rotate(90deg);
    -moz-transform-origin:center bottom;
    
    -ms-transform:rotate(90deg);
    -ms-transform-origin:center bottom;
    
    -o-transform:rotate(90deg);
    -o-transform-origin:center bottom;
    
    transform:rotate(90deg);
    transform-origin:center bottom;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    
    transition:all 0.2s linear;
}
.menu-item:after {
    content: "";
    width: 120%;
    height: 60%;
    border-radius: 200px 200px 0 0;
    z-index: -4;
    left: -10%;
    top: 4%;
    border-style: solid;
    border-color:#FF0;
    border-width:0px;
    position: absolute;
    
    -webkit-transform:rotate(-180deg);
    -webkit-transform-origin:center bottom;
    
    -moz-transform:rotate(-180deg);
    -moz-transform-origin:center bottom;
    
    -ms-transform:rotate(-180deg);
    -ms-transform-origin:center bottom;
    
    -o-transform:rotate(-180deg);
    -o-transform-origin:center bottom;
    
    transform:rotate(-180deg);
    transform-origin:center bottom;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    
    transition:all 0.2s linear;
}
.menu-bg {
    width: 92%;
    height: 92%;
    border-radius: 100%;
    position: absolute;
    top: 10%;
    left: -3%;
    z-index: -1;    
    
    border-color:#F00;
    border-style: solid;
    border-left-width: 20px;
    border-top-width: 10px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    opacity:0;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transform:rotate(90deg);
    
    
    transition:all 0.2s linear;
    /*
    border-top: 10px solid;
    border-left: 10px solid;
    */
}
.menu-item:hover .menu-bg {
    border-color:#000;
    opacity:1;
    -webkit-transform:rotate(0deg);
    -webkit-animation: ani_rotate_menu linear 0.2s;
    
    -moz-transform:rotate(0deg);
    -moz-animation: ani_rotate_menu linear 0.2s;
    
    -ms-transform:rotate(0deg);
    -ms-animation: ani_rotate_menu linear 0.2s;
    
    -o-transform:rotate(0deg);
    -o-animation: ani_rotate_menu linear 0.2s;
    
    transform:rotate(0deg);
    animation: ani_rotate_menu linear 0.2s;
}
.menu-item:hover:before {
    border-left-width:10px;
    border-top-width:10px;
    border-right-width:10px;
    border-color:#000;
    
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
}
.menu-item:hover:after {
    border-left-width:10px;
    border-top-width:10px;
    border-right-width:10px;
    border-color:#000;
    
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
}

.current-menu-item a, .menu-item:hover a { 
    color:#FFF;
    text-shadow:0px 0px 4px #FFF;
}

.header .bicycle_wrap.active{
    left:55.6%;
}
.header .bicycle_wrap {    
    margin-left: 0;
    left: -10%;
    top: -4%;
    z-index: -1;
    
    -webkit-transform-origin: left bottom;
    -webkit-transform: perspective(300px) scale(0.3);
    -webkit-box-reflect: below 20% linear-gradient(transparent, rgba(255,255,255,0.5) 300%);
    
    -moz-transform-origin: left bottom;
    -moz-transform: perspective(300px) scale(0.3);
    -moz-box-reflect: below 20% linear-gradient(transparent, rgba(255,255,255,0.5) 300%);
    
    -ms-transform-origin: left bottom;
    -ms-transform: perspective(300px) scale(0.3);
    -ms-box-reflect: below 20% linear-gradient(transparent, rgba(255,255,255,0.5) 300%);
    
    -o-transform-origin: left bottom;
    -o-transform: perspective(300px) scale(0.3);
    -o-box-reflect: below 20% linear-gradient(transparent, rgba(255,255,255,0.5) 300%);
    
    transform-origin: left bottom;
    transform: perspective(300px) scale(0.3);
    box-reflect: below 20% linear-gradient(transparent, rgba(255,255,255,0.5) 300%);
    
    transition:left 3s ease-out;
}
.header .bicycle {
    left: 0;
    bottom: 0;
    margin-bottom: 1%;
}
.header .wheel_1 {
    left: -5.5%;
    margin-bottom: -2.5%;
    bottom: 0;
    
    -webkit-animation: ani_wheel_1 4s linear infinite;
    -moz-animation: ani_wheel_1 4s linear infinite;
    -ms-animation: ani_wheel_1 4s linear infinite;
    -o-animation: ani_wheel_1 4s linear infinite;
    animation: ani_wheel_1 4s linear infinite;
}
.header .wheel_2 {
    left: 9%;
    bottom: 0;
    margin-bottom: -3%;
    
    -webkit-animation: ani_wheel_2 4s linear infinite;
    -moz-animation: ani_wheel_2 4s linear infinite;
    -ms-animation: ani_wheel_2 4s linear infinite;
    -o-animation: ani_wheel_2 4s linear infinite;
    animation: ani_wheel_2 4s linear infinite;
}
.head_title {
    font-size: 2.4em;
    color: #FFF;
    text-shadow: 0px 0px 24px #FFF;
    left: 3%;
    position: relative;
    top: 15%;
    font-weight: bold;
}

.talking_wrap {    
    width: 38.2%;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index:1;
}
.talking_content {
    position: absolute;
    bottom: 0;
    width: 67.8%;
    padding: 3%;
    color: #333;
    background: rgba(255, 255, 255, 0.618);
    
    box-shadow: 0px 0px 12px #fff;
    
    -webkit-box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,0.5) 300%);
    -moz-box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,0.5) 300%);
    -ms-box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,0.5) 300%);
    -o-box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,0.5) 300%);
    box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,0.5) 300%);
    
    transition:all 0.2s linear;
}
.talking_content:hover {
    background:#fff;
    box-shadow: 0px 0px 12px #666;
    color: rgb(80,192,255);
}
.talking_content:after {
    content: "";
    position: absolute;
    border: 12px solid transparent;
    right: -36px;
    bottom: 0;
    border-left: 24px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 0px;
}
#signature {
    position: absolute;
    right: 6%;
    bottom: 0;
    width: 80%;
    
    -webkit-box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,0.5) 300%);
    -moz-box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,0.5) 300%);
    -ms-box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,0.5) 300%);
    -o-box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,0.5) 300%);
    box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,0.5) 300%);
}
.talking_stuff {
    position: absolute;
    right: 0;
    height: 100%;
    bottom: 0;
    width: 25.2%;
}

/**### css for contents inside articles ###**/
.article_action { 
    float:right; background:url(../../imgs/sprite.png) no-repeat; padding-left:24px; cursor:pointer;
    font-size:0.8em; color:#999;
    
    transition:all 0.2s linear;
}
.article_action:hover { 
    color:#FFF;
    text-shadow:0px 0px 4px #000;
}
.action_comment { float:left; padding:0; background:none;}
.action_up { margin:0 1%; }
.action_down { background-position:0 -24px; }

.article_title {
    position: absolute;
    top: -43px;
    width: 90%;
    
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.article_title_link {
    font-size: 2.2em;
    line-height: 120%;
    display: block;
    color: #FFF;
    text-shadow: 0px 0px 12px #666;
    white-space:nowrap;
    text-overflow:ellipsis;
    
    position: relative;
    
    -webkit-box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,0.8));
    -moz-box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,0.8));
    -ms-box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,0.8));
    -o-box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,0.8));
    box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,0.8));
}

.article_title_img {
    width: 78px;
    float: left;
    margin-right: 6px;
    border: 1px solid #ccc;
    padding: 2px;
    background: #FFF;
    border-radius: 3px;
}
.article_date {    
    float: right;
    margin-top: 12px;
}

/* end css for article*/

/**### css for comments ###**/
.comment_item { border-top:1px solid #efefef; }
.comment_item:hover { background:#f6f6f6; }
.comment_avatar { 
    width:48px; margin-right:6px; float:left; 
}
.comment_avatar img {
    border-radius:2px;
    box-shadow:1px 1px 2px #ccc;
}
.comment_content { overflow:hidden; }
.comment_info { color:#999; font-size:0.8em; }
.comment_info b a { 
    color:#F00; 
    transition:all 0.2s linear;
}
.comment_info b a:hover { 
    color:#000; 
    text-shadow:0px 0px 6px #F00;
}
.comment_info b { color:#000; }
.comment_text { margin:1% 0; }

.comment_input { border-top:1px solid #efefef; padding-top:2%; position:relative; }

.user_info_edit { 
    cursor:pointer; font-weight:bold; 
}
.user_info_edit:hover { 
    color:#FFF;
    text-shadow:0px 0px 4px #000;
}
.user_info { 
    margin-top:1%; 
    overflow:hidden;
    opacity:1;
    
    transition:all 0.2s linear;
}
.user_info_item { width:50%; float:left; }
.user_info input { width:80%; padding:4px; border:1px solid #ccc; }
.comment_textarea { 
    width:100%; 
    height:128px; 
    border:1px solid #ccc;
    margin:1% 0 0 0; 
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.comment_submit {
    display:block;
    height: 32px;
    width: 100%;
    background: #e9e9e9;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    margin-top: 1%;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    
    transition:all 0.2s linear;
}
.comment_submit:hover {
    background:#efefef;
    box-shadow:0px 0px 12px #666;
}
.comment_submit:active {
    background:#efefef;
    box-shadow:none;
    border:2px inset #ccc;
}
.comment_wrap {
    margin-top:1%;
}

/* end css for articles */

/*### css for sidebar ###*/
.sidebar {
    width:35.25%; 
    float:right;
    padding: 24px 0;
    background:#fff;
    z-index:0;
    margin-top:-16px;
    opacity:0;
    
    /*
    box-shadow: 0px 0px 36px #adf;
    */
    box-shadow: 0px 0px 36px #999;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    
    transition:all 0.2s ease-out;
}
.sidebar.active {
    opacity:1;
    margin-top:24px;
}
.yar_float_sidebar {
    position:fixed;
}
.side_post_link { 
    width: 100%;
    display: block;
    position: relative;
    height: 36px;
    line-height: 36px;
    white-space: nowrap;
    color: #333;
    z-index:0;
    
    text-overflow: ellipsis;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    
    transition:all 0.2s ease-out;
}
.side_post_link:before {
    content:"";
    position:absolute;
    width:0%;
    height:100%;
    left:0;
    top:0;
    z-index:-1;
    border-bottom:1px solid #ccc;
    
    transition:all 0.2s ease-out;
}
.side_post_link:after {     
    content: "";
    top: 6px;
    position: absolute;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 24px;
    width: 24px;
    right: 104%;
    
    transition:all 0.2s ease-out;
    
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.side_post_link:hover:after, .side_post_link.active:after {
    background:#efefef;
    right: -13px;
}
.side_post_link:hover, .side_post_link.active {
    padding-left:8px;
    color: rgb(80,192,255);
}
.side_post_link:hover:before, .side_post_link.active:before {
    width:100%;
    background:#efefef;
}

.side_menu_category:active {
    text-decoration: none;
}
.side_menu_category {
    font-size: 1.6em;
    line-height:2em;
    margin-left: 2%;
    display: block;
    color:#333;
}
.side_menu_group {
    display: block;
    line-height: 1.6em;
    font-size: 1.3em;
    padding-left: 16px;
    background: #ccc;
    width: 100%;
    position: relative;
    color: #FFF;
    
    box-sizing:border-box;
    transition:0.2s all linear;
}
.side_menu_group:hover, .side_menu_group.active {
    
    background-color:#999;
    box-sizing:content-box;
}
.side_menu_group:hover:after, .side_menu_group.active:after {
    border-bottom: 12px solid #666;
}
.side_menu_group:after {
    content: "";
    position: absolute;
    top: 31px;
    border-top: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 0px solid #999;
    right: 1px;
    z-index: -1;
    
    transition:0.2s all linear;
    
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.side_menu_posts {    
    width: 86%;
    margin: 0 auto;
}
/* end css for sidebar */

/*### css for login section ###*/
.login_wrap {
    display: table;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    margin-top:-3%;
    opacity:0;
    
    transition:all 0.2s linear;
}
.login_wrap_inner {
    display: table-cell;
    vertical-align:middle;
    height:100%;
}
#loginInner { 
    width:40%; 
    height:45%; 
    margin:-5% auto 0; 
    position:relative;
    min-width:456px;
    background-color:#FFF;
    background-image: linear-gradient(rgba(85,187,255,0.6), #FFF);
    
    box-shadow:0px 0px 36px #000;
}
#loginClose {
    position: absolute;
    content: "×";
    right: -18px;
    top: -18px;
    height: 36px;
    width: 36px;
    background: rgba(128,128,128,0.8);
    text-align: center;
    line-height: 29px;
    font-size: 3em;
    color: #FFF;
    cursor: pointer;
    
    border-radius: 36px;
    box-shadow: 0px 0px 12px #000;
    transition:all 0.2s linear;
}
#loginClose:hover {
    
    background:rgba(64,64,64,0.8);
    
    box-shadow: 0px 0px 36px #000;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}
.login_wrap.active {
    opacity:1;
    margin-top:0%;
}
.login_frame{    
    border: 0;
    width:100%;
    height:100%;
    display: block;
}   
.open_api_login { 
    height:24px; 
    cursor:pointer;
    margin:4px 4px -4px 0;
    display:inline-block;
    background:url(../../imgs/sprite.png);
}
.oal_qq {
    width:24px;
    background-position: -116px -4px;
}
.oal_sina {
    width:32px;
    background-position: -49px -4px;
}
.oal_renren {
    width:25px;
    background-position: -86px -4px;
}

/* end css for login section */

/*### css for animations ###*/
@-webkit-keyframes ani_bicycle {
    0% {
        left:-10%;
    }
    100% {
        left:62.5%;
    }
}
@-webkit-keyframes ani_wheel_1 {
    0% {
        -webkit-transform: scale(0.8) rotate(0deg);
    }
    100% {
        -webkit-transform: scale(0.8) rotate(360deg);
    }
}
@-webkit-keyframes ani_wheel_2 {
    0% {
        -webkit-transform: scale(0.7) rotate(0deg);
    }
    100% {
        -webkit-transform: scale(0.7) rotate(360deg);
    }
}
@-webkit-keyframes ani_rotate_menu {
    0% {         
        border-left-width:0px;
        border-top-width:0px;
        border-right-width:0px;
    }
    33% {
        border-left-width:0px;
        border-top-width:0px;
        border-right-width:10px;
    }
    66% {
        border-left-width:0px;
        border-top-width:10px;
        border-right-width:10px;
    }
    100% {
        border-left-width:20px;
        border-top-width:10px;
        border-right-width:0px;
    }
}
@-webkit-keyframes ani_scroll_down {
    0% { margin-top:-5%; opacity:0; }
    100% { margin-top:0%; opacity:1; }
}
@-webkit-keyframes ani_scroll_up {
    0% { margin-top:0%; opacity:1; }
    100% { margin-top:-5%; opacity:0; }
}

/* moz */
@-moz-keyframes ani_bicycle {
    0% {
        left:-10%;
    }
    100% {
        left:62.5%;
    }
}
@-moz-keyframes ani_wheel_1 {
    0% {
        -moz-transform: scale(0.8) rotate(0deg);
    }
    100% {
        -moz-transform: scale(0.8) rotate(360deg);
    }
}
@-moz-keyframes ani_wheel_2 {
    0% {
        -moz-transform: scale(0.7) rotate(0deg);
    }
    100% {
        -moz-transform: scale(0.7) rotate(360deg);
    }
}
@-moz-keyframes ani_rotate_menu {
    0% {         
        border-left-width:0px;
        border-top-width:0px;
        border-right-width:0px;
    }
    33% {
        border-left-width:0px;
        border-top-width:0px;
        border-right-width:10px;
    }
    66% {
        border-left-width:0px;
        border-top-width:10px;
        border-right-width:10px;
    }
    100% {
        border-left-width:20px;
        border-top-width:10px;
        border-right-width:0px;
    }
}
@-moz-keyframes ani_scroll_down {
    0% { margin-top:-5%; opacity:0; }
    100% { margin-top:0%; opacity:1; }
}
@-moz-keyframes ani_scroll_up {
    0% { margin-top:0%; opacity:1; }
    100% { margin-top:-5%; opacity:0; }
}
/* ms */
@-ms-keyframes ani_bicycle {
    0% {
        left:-10%;
    }
    100% {
        left:62.5%;
    }
}
@-ms-keyframes ani_wheel_1 {
    0% {
        -ms-transform: scale(0.8) rotate(0deg);
    }
    100% {
        -ms-transform: scale(0.8) rotate(360deg);
    }
}
@-ms-keyframes ani_wheel_2 {
    0% {
        -ms-transform: scale(0.7) rotate(0deg);
    }
    100% {
        -ms-transform: scale(0.7) rotate(360deg);
    }
}
@-ms-keyframes ani_rotate_menu {
    0% {         
        border-left-width:0px;
        border-top-width:0px;
        border-right-width:0px;
    }
    33% {
        border-left-width:0px;
        border-top-width:0px;
        border-right-width:10px;
    }
    66% {
        border-left-width:0px;
        border-top-width:10px;
        border-right-width:10px;
    }
    100% {
        border-left-width:20px;
        border-top-width:10px;
        border-right-width:0px;
    }
}
@-ms-keyframes ani_scroll_down {
    0% { margin-top:-5%; opacity:0; }
    100% { margin-top:0%; opacity:1; }
}
@-ms-keyframes ani_scroll_up {
    0% { margin-top:0%; opacity:1; }
    100% { margin-top:-5%; opacity:0; }
}
/* o */
@-o-keyframes ani_bicycle {
    0% {
        left:-10%;
    }
    100% {
        left:62.5%;
    }
}
@-o-keyframes ani_wheel_1 {
    0% {
        -o-transform: scale(0.8) rotate(0deg);
    }
    100% {
        -o-transform: scale(0.8) rotate(360deg);
    }
}
@-o-keyframes ani_wheel_2 {
    0% {
        -o-transform: scale(0.7) rotate(0deg);
    }
    100% {
        -o-transform: scale(0.7) rotate(360deg);
    }
}
@-o-keyframes ani_rotate_menu {
    0% {         
        border-left-width:0px;
        border-top-width:0px;
        border-right-width:0px;
    }
    33% {
        border-left-width:0px;
        border-top-width:0px;
        border-right-width:10px;
    }
    66% {
        border-left-width:0px;
        border-top-width:10px;
        border-right-width:10px;
    }
    100% {
        border-left-width:20px;
        border-top-width:10px;
        border-right-width:0px;
    }
}
@-o-keyframes ani_scroll_down {
    0% { margin-top:-5%; opacity:0; }
    100% { margin-top:0%; opacity:1; }
}
@-o-keyframes ani_scroll_up {
    0% { margin-top:0%; opacity:1; }
    100% { margin-top:-5%; opacity:0; }
}
/* none */
@keyframes ani_bicycle {
    0% {
        left:-10%;
    }
    100% {
        left:62.5%;
    }
}
@keyframes ani_wheel_1 {
    0% {
        transform: scale(0.8) rotate(0deg);
    }
    100% {
        transform: scale(0.8) rotate(360deg);
    }
}
@keyframes ani_wheel_2 {
    0% {
        transform: scale(0.7) rotate(0deg);
    }
    100% {
        transform: scale(0.7) rotate(360deg);
    }
}
@keyframes ani_rotate_menu {
    0% {         
        border-left-width:0px;
        border-top-width:0px;
        border-right-width:0px;
    }
    33% {
        border-left-width:0px;
        border-top-width:0px;
        border-right-width:10px;
    }
    66% {
        border-left-width:0px;
        border-top-width:10px;
        border-right-width:10px;
    }
    100% {
        border-left-width:20px;
        border-top-width:10px;
        border-right-width:0px;
    }
}
@keyframes ani_scroll_down {
    0% { margin-top:-5%; opacity:0; }
    100% { margin-top:0%; opacity:1; }
}
@keyframes ani_scroll_up {
    0% { margin-top:0%; opacity:1; }
    100% { margin-top:-5%; opacity:0; }
}
/* end css for animations */

/*### css for other screen ###*/
@media only screen and (min-width: 960px) and (max-width: 1200px) {
    .show_wrap { 
        padding-top:24%; 
    }
    .header {
        height:136px;
    }
    .nav li { 
        height: 72px;
        width: 108px;
        border-radius: 108px;
        margin-bottom: -38px;
        padding-top:36px;
    }
    .nav a { 
        font-size:1.6em; 
    }
    .menu-item:after { 
        top:5%;
    }
    .menu-item:before { 
        top:-1%;
    }
    .talking_content {
        font-size:0.6em;
        line-height: 110%;
    }
    .article { padding: 40px 40px 20px 40px; }
    .sidebar { padding: 20px 0; }
    .sidebar.active { margin-top: 20px; }
    /**
     * conflicts with the reflection.
    .nav {
        -webkit-transform:scale(0.8);
    }
    */
    
    .side_post_link:hover:after {
        background:#efefef;
        right: -12px;
    }
    #loading.in_article {
        height:160px;
    }
}

@media only screen and (min-width: 812px) and (max-width: 959px) {
    .talking_content {
        font-size:0.6em;
        line-height: 100%;
    }
}
@media only screen and (max-width: 811px) {
    .talking_content {
        display:none;
    }
    .header .bicycle_wrap {
        display:none;
    }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .show_wrap { 
        padding-top:36%; 
    }
    .header {
        height:136px;
    }
    .nav li { 
        height: 72px;
        width: 108px;
        border-radius: 108px;
        margin-bottom: -38px;
        padding-top:36px;
    }
    .nav a { 
        font-size:1.6em; 
    }
    .menu-item:after { 
        top:5%;
    }
    .menu-item:before { 
        top:-1%;
    }
    .head_title { font-size:1.8em }
    
    /**
     * conflicts with the reflection.
    .nav {
        -webkit-transform:scale(0.8);
    }
    */
    
    .article { padding: 24px 24px 12px 24px; }
    .sidebar { padding: 12px 0; }
    .sidebar.active { margin-top: 12px; }
    
    .side_post_link:hover:after {
        background:#efefef;
        right: -13px;
    }
    
    .article_title {
        top: -42px;
    }
    .article_title_link {
        -webkit-box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,0.3));
        -moz-box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,0.3));
        -ms-box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,0.3));
        -o-box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,0.5));
        box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,0.5));
    }
    .article_date {
        margin-top: 4px;
    }
    
    .article_title_img {
        width:70px;
    }
    #loading.in_article {
        height:110px;
    }
}

@media only screen and (max-width: 767px) {
    body { font-size:0.8em; }
    .show_wrap { 
        padding-top:48%; 
    }
    .header {
        height:112px;
    }
    .nav li { 
        height: 52px;
        width: 78px;
        border-radius: 78px;
        /*
        margin-bottom: -27px;
        */
        margin-bottom: -34px;
        padding-top:26px;
    }
    .nav a { 
        font-size:1.2em; 
    }
    .menu-item:hover .menu-bg {
        border-left-width:6px;
        border-top-width:6px;
        border-right-width:6px;
    }
    .menu-item:hover:before {
        border-left-width:5px;
        border-top-width:5px;
        border-right-width:5px;
    }
    .menu-item:hover:after {
        border-left-width:6px;
        border-top-width:6px;
        border-right-width:6px;
    }
    .menu-item:after { 
        top:5%;
    }
    .menu-item:before { 
        top:-1%;
    }
    .menu-bg {
        border-left-width: 12px;
        border-top-width: 6px;
    }
    .head_title { font-size:1.4em }

    @-webkit-keyframes ani_rotate_menu {
        0% {         
            border-left-width:0px;
            border-top-width:0px;
            border-right-width:0px;
        }
        33% {
            border-left-width:0px;
            border-top-width:0px;
            border-right-width:6px;
        }
        66% {
            border-left-width:0px;
            border-top-width:6px;
            border-right-width:6px;
        }
        100% {
            border-left-width:12px;
            border-top-width:6px;
            border-right-width:0px;
        }
    }
    @-moz-keyframes ani_rotate_menu {
        0% {         
            border-left-width:0px;
            border-top-width:0px;
            border-right-width:0px;
        }
        33% {
            border-left-width:0px;
            border-top-width:0px;
            border-right-width:6px;
        }
        66% {
            border-left-width:0px;
            border-top-width:6px;
            border-right-width:6px;
        }
        100% {
            border-left-width:12px;
            border-top-width:6px;
            border-right-width:0px;
        }
    }
    @-ms-keyframes ani_rotate_menu {
        0% {         
            border-left-width:0px;
            border-top-width:0px;
            border-right-width:0px;
        }
        33% {
            border-left-width:0px;
            border-top-width:0px;
            border-right-width:6px;
        }
        66% {
            border-left-width:0px;
            border-top-width:6px;
            border-right-width:6px;
        }
        100% {
            border-left-width:12px;
            border-top-width:6px;
            border-right-width:0px;
        }
    }
    @-o-keyframes ani_rotate_menu {
        0% {         
            border-left-width:0px;
            border-top-width:0px;
            border-right-width:0px;
        }
        33% {
            border-left-width:0px;
            border-top-width:0px;
            border-right-width:6px;
        }
        66% {
            border-left-width:0px;
            border-top-width:6px;
            border-right-width:6px;
        }
        100% {
            border-left-width:12px;
            border-top-width:6px;
            border-right-width:0px;
        }
    }
    @keyframes ani_rotate_menu {
        0% {         
            border-left-width:0px;
            border-top-width:0px;
            border-right-width:0px;
        }
        33% {
            border-left-width:0px;
            border-top-width:0px;
            border-right-width:6px;
        }
        66% {
            border-left-width:0px;
            border-top-width:6px;
            border-right-width:6px;
        }
        100% {
            border-left-width:12px;
            border-top-width:6px;
            border-right-width:0px;
        }
    }
    
    /**
     * conflicts with the reflection.
    .nav {
        -webkit-transform:scale(0.7);
    }
    */
    
    .article_action { 
        background-image:none; padding-left:0px;
    }
    
    .article { padding: 24px 12px 6px 12px; }
    .sidebar { padding: 12px 0; }
    .sidebar.active { margin-top: 12px; }
    
    .side_post_link {
         height:24px; line-height:24px;
    }
    .side_post_link:after {
         height:16px; width:16px; top:4px;
    }
    .side_post_link:hover:after {
        background:#efefef;
        right: -9px;
    }
    
    .article_title {
        top: -34px;
    }
    .article_title_link {
        -webkit-box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,0.5));
        -moz-box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,0.5));
        -ms-box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,0.5));
        -o-box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,0.5));
        box-reflect: below 0% linear-gradient(transparent, rgba(255,255,255,0.5));
    }
    .article_date {
        margin-top: 4px;
    }
    
    .article_title_img {
        width:56px;
    }
    #loading.in_article {
        height:60px;
    }
}
/* IE10-specific */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   .bicycle_wrap { display:block; }
   #bicycleWrap { display:none; }
}